/* General Styles */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f0f2f5;
}

.App {
  text-align: center;
}

/* Header Styles */
.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Header .logo {
  font-size: 24px;
  font-weight: bold;
}

.Header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.Header nav ul li {
  font-size: 16px;
  cursor: pointer;
}

/* SearchBar Styles */
.SearchBar {
  margin: 40px 0;
  padding: 20px;
  text-align: center;
  background-size: cover;
  color: #333;
}

.SearchBar h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.SearchBar p {
  margin-bottom: 20px;
}

.SearchBar input {
  padding: 10px;
  width: 300px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.categories span {
  background-color: #f0f0f0;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.categories span:hover {
  background-color: #ddd;
}

/* Footer Styles */
.Footer {
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.main-content {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  padding: 20px;
}

.expert-list {
  max-width: 800px; /* Ajustez cette valeur selon vos besoins */
  width: 100%;
}
